body {
    background-color: gray;
}

.container .row .col-12 .item {
    background-color: black;
}

.container .row .col-12 .item img {
    height: 200px;
    margin-left: 865px;
}

.container .row .col-12 .item h1 {
    color: white;
    position: absolute;
    margin-left: 70px;
    width: 95px;
}

.alt-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.alt-row .col-4 {
    display: inline-block;
    background-color: black;
}

.big-row .col-8 {
    display: inline-block;
    padding: 20px 20px;
}

.container .big-row {
    position: absolute;
    width: 800px;
    height: 400px;
    border-bottom: 400px;
    margin-left: 400px;
    display: inline-block;
    background-color: white;
}

.col-4 {
    height: 400px;
}

.container .row .col-4 .mence h3 {
    color: white;
    margin: 40px 116px;
}

.container .row .col-4 .mence p {
    color: white;
    width: 20px;
}